.react-datetime-picker__wrapper {
    padding: 4px 4px 4px 10px;
    border: 1px solid #ddd!important;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    line-height: 1.25rem;
    font-size: .93rem;
    border-color: rgb(209 213 219 / 1);
  }

  .react-confirm-alert-overlay {
    background: rgba(34, 34, 34, 0.8)!important;
  }
  